# Airflow
AIRFLOW_UID=0
AIRFLOW_PROJ_DIR=/workspaces/tennis-data-pipeline/airflow

# GCP
GOOGLE_APPLICATION_CREDENTIALS=/tmp/gcp/key.json
GCP_PROJECT_ID=your-gcp-project-id
GCS_BUCKET=your-unique-bucket-name
GCS_PREFIX=raw
BQ_DATASET=tennis_raw

# Set automatically by install.sh in Codespaces — do not set manually
# AIRFLOW__WEBSERVER__BASE_URL=